<!--::footer_part start::-->
<footer class="footer_part" style="padding: 10px; margin-top: 30px;">
   <div class="container">

      <div class="row">
         <div class="col-sm-6 col-lg-6">
            <div class="copyright_text">
               <P>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | Fastfoto is made with
                  <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank">HK</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
               </P>
            </div>
         </div>
         <div class="col-sm-6 col-lg-6">
            <div class="footer_icon">
               <ul class="list-unstyled">
                  <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>

               </ul>
            </div>
         </div>

      </div>
   </div>
</footer>