{{#if dangnhap}}
   {{else}}
   <div class="cta_part">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-6">
               <div class="cta_iner">
                  <h1>Bạn đã có tài khoản chưa?</h1>
                  <p>Bạn muốn đặt chụp ảnh</p>
                  <a href='./dangky'class="cta_btn trigger-btn" >Đăng ký</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   {{/if}}