<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FastFoto</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- magnific-popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/Login.css">
    <style type="text/css">
        .card-studio {
            margin-bottom: 20px;
        }
    </style>
    {{{_sections.css}}}
</head>

<body>
    {{>menu}} {{>login}} {{>header}} {{{body}}}
    <!-- jquery -->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.easing.min.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
    {{{_sections.js}}}
</body>
{{>footer}}

</html>